@{
    ViewData["Title"] = "Home Page";
}

@model ListPageModel

<h3 style="padding-top:20px">Products</h3>

<a href="@Url.Action("AddNewProduct", "Home")" class="btn btn-primary">Add Some New Products</a>

<a href="@Url.Action("RunInterval", "Home")" class="btn btn-primary">Run Cache Interval</a>
<table class="table table-striped" style="margin-top:25px">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
               Update
            </th>

            <th>Last Updated Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr style="background-color:@(item.LastUpdatedTime == null ? "" : "lawngreen")">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td><a href="@Url.Action("UpdateProduct", "Home", new { id = item.Id })" class="btn btn-primary">Update This!</a></td>
                <td>
                     @(item.LastUpdatedTime == null ? "Not Updated yet!" : item.LastUpdatedTime.Value.ToString())
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
<div>

    <div class="btn-group">
        @for (int i = 1; i < Model.PageCount; i++)
        {
            <a href="/home/index?page=@i" style="margin-left:3px ;margin-bottom:5px" class="btn btn-primary">@i</a>
        }
    </div>
</div>

